.squatBox
{
   border: 2px solid;
   background-color: blanchedalmond;
   padding: 5px;
   width: 100%
}
.squatInput
{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 25px;
    margin-right: .5%;
    font-size: 15px;
    padding-top: 3px;
    padding-left: 3px;
    height: 27px;
}

.squatInput:hover
{
    background-color: #f5fefd;
    font-size: 17px;
    color: 373737;
}

.squatInput::placeholder
{
    color: black;
}

.squatInput:hover::placeholder
{
    color: transparent;
}

.squatInput:focus::placeholder
{
    color: transparent;
}

/* CSS */
.squatSubmit {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.squatSubmit:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.squatSubmit:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.squatSubmit:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.squatSubmit:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.squatSubmit:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.squatSubmit:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.squatSubmit:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.squatSubmit:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.testPhoto
{
  width: 400px;
  height: 200px;
}