<div class = "mainContainer">
    <h1> My Gym Progress </h1>
    <div class="topRow">
        <div class="componentStyle">
            <app-benchpress-comp></app-benchpress-comp>
        </div>
        <div class="componentStyle">
            <app-deadlift-comp></app-deadlift-comp>
        </div>
    </div>
    <div class = "secondRow">
        <div class="componentStyle">
            <app-shoulderpress-comp></app-shoulderpress-comp>
        </div>
        <div class="componentStyle">
            <app-squat-comp></app-squat-comp>
        </div>
    </div>
</div>